.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}
.header__box {
  display: flex;
  align-items: center;
  min-height: 60px;

  @media screen and (min-width: 768px) {
    min-height: 80px;
  }
}
.header__item:nth-child(1) {
  @media screen and (min-width: 768px) {
    margin-right: 87px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
